[submodule "src/LuaEngine"]
	path = src/LuaEngine
	url = https://github.com/ElunaLuaEngine/Eluna.git
[submodule "src/luaengine/Eluna"]
	path = src/luaengine/Eluna
	url = git@github.com:ElunaLuaEngine/Eluna.git
